[submodule "deps/minizip-ng"]
	path = deps/minizip-ng
	url = git@github.com:zlib-ng/minizip-ng.git
[submodule "deps/tclap"]
	path = deps/tclap
	url = git@github.com:mirror/tclap.git
[submodule "deps/zlib-ng"]
	path = deps/zlib-ng
	url = git@github.com:zlib-ng/zlib-ng.git
[submodule "deps/indicators"]
	path = deps/indicators
	url = git@github.com:p-ranav/indicators.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
